body {

    background-color: #fff;
}

.folio-hero {

    height: 50rem;
    margin-bottom: 10rem;
    margin-top: 5rem;
  
    background-image: url("../img/ace-pw_maze_white_@2X.png");
   

}

.folio-hero p {

    font-size: 2.4rem;
   

}

 .folio-text {

    font-size: 4rem;
   

}

.jumbotron {

    background-color: transparent;
}

.jumbotron-fluid {

    background-color: transparent;
}


