@import"../scss/palette.scss";

body {

  min-height: 1200px;

}

.mb-5 {

  margin-bottom: 0px;
}

.logo_alt {

    // height: 8rem;
    // width: auto;
    // margin-bottom: 2rem;
    color: linear-gradient( to right, $color1 50% , $color2 50% ,$color3 50% , $color4 50%, $color5 50%);
}

.wow {
    visibility: hidden;
}

.call_out_ace {

    font-family: 'Lato', sans-serif;
}

.mosaic_intro {

    background-size: contain;
    // background-image: url('../img/ace_proj_mosaic.png');
    background: url('../img/ace_proj_mosaic_v3@2x.png') center / cover no-repeat;
    height: 100vh;
    width: 100%;
}

.hero_home_margin {


    // margin-top: 29rem;
}

.green_project {

    background-color: limegreen;
}

.port_1 {

    height: 25rem;
    width: auto;
    background-size: cover;
    background-image: url('../img/mobile_small_custom.png');

}

.port_2 {

    height: 25rem;
    width: auto;
    background-size: cover;
    background-image: url('../img/cqt_ipad_2.jpg');

}

.port_3 {

    height: 25rem;
    width: auto;
    background-size: cover;
    background-image: url('../img/kit_step_bars.png');

}

.port_4 {

    height: 25rem;
    width: auto;
    background-size: cover;
    background-image: url('../img/tc_desktop.png');

}

.port_5 {

    height: 25rem;
    width: auto;
    background-size: cover;
    background-image: url('../img/fis_close_global_search.jpg');

}

.port_6 {

    height: 25rem;
    width: auto;
    background-size: cover;
    background-image: url('../img/fl_why_blue_2.jpg');

}

.port_kit {

    height: 25rem;
    width: auto;
    background-size: cover;
    background-image: url('../img/glados_desk2.jpg');

}

.proj_notes {


    height: 25rem;
    width: auto;
}
