/* Coolors Exported Palette - coolors.co/61ff7e-5eeb5b-a2dce4-004fff-2ec4b6 */

/* HSL */
$color1: hsla(131%, 100%, 69%, 1);
$color2: hsla(119%, 78%, 64%, 1);
$color3: hsla(187%, 55%, 76%, 1);
$color4: hsla(221%, 100%, 50%, 1);
$color5: hsla(174%, 62%, 47%, 1);

/* RGB */
$color1: rgba(97, 255, 126, 1);
$color2: rgba(94, 235, 91, 1);
$color3: rgba(162, 220, 228, 1);
$color4: rgba(0, 79, 255, 1);
$color5: rgba(46, 196, 182, 1);